@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    background-color: #E8E5DA;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.masthead {
    background: transparent url("../images/masthead-bg.png") repeat left center;
    text-align: center;
}

.title {
    display: inline-block;
    background-color: #E8E5DA;
}

.logo {
    margin: 0 0.2em 0 0;
    width: 1.2em;
    vertical-align: middle;
}

.box-bg {
    background-color: #87714F;
    color: #fff;
}

.icons {
    width: 5em;
    display: block;
    margin: 0 auto;
}

.text-align {
    text-align: center;
}

.images {
    width: 100%;
}

.border {
    border-image: url(../images/panel-border.png) 22 22 22 22 stretch stretch;
    border-width: 22px 22px 22px 22px;
}